In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
dataset = pd.read_csv('temp.csv')
print(dataset.columns)
dataset.head()

Index(['Year', 'Month', 'Day', 'Date', 'PPT. ', 'Av temp', 'Tmax', 'Tmin'], dtype='object')

   Year  Month  Day        Date  PPT.   Av temp  Tmax  Tmin
0  1901      1    1  01/01/1901    0.0      2.1   3.5   0.6
1  1901      1    2  02/01/1901    0.0      4.0   7.2   0.7
2  1901      1    3  03/01/1901    0.0      3.0   6.7  -0.7
3  1901      1    4  04/01/1901    0.0      3.7   7.9  -0.6
4  1901      1    5  05/01/1901    0.0     -0.3   1.2  -1.7

In [23]:
dataset = dataset.drop(columns='Date')
dataset = dataset.drop(columns='PPT. ')
dataset = dataset.drop(columns='Tmax')
dataset = dataset.drop(columns='Tmin')

In [24]:
dataset.head()

   Year  Month  Day  Av temp
0  1901      1    1      2.1
1  1901      1    2      4.0
2  1901      1    3      3.0
3  1901      1    4      3.7
4  1901      1    5     -0.3

In [28]:
data = {}

temp = dataset.iloc[0:3,-1:].values
print(temp)

[[2.1]
 [4. ]
 [3. ]]

In [34]:
for i in dataset.values:
    if i[:][1] == 1 and i[:][2] == 1:
        print(i)

[1.901e+03 1.000e+00 1.000e+00 2.100e+00]
[1.902e+03 1.000e+00 1.000e+00 5.700e+00]
[1.903e+03 1.000e+00 1.000e+00 1.000e+00]
[1.904e+03 1.000e+00 1.000e+00 1.400e+00]
[ 1.905e+03  1.000e+00  1.000e+00 -2.000e-01]
[ 1.906e+03  1.000e+00  1.000e+00 -3.000e-01]
[1.907e+03 1.000e+00 1.000e+00 2.900e+00]
[1.908e+03 1.000e+00 1.000e+00 2.100e+00]
[1.909e+03 1.000e+00 1.000e+00 6.400e+00]
[1.91e+03 1.00e+00 1.00e+00 6.30e+00]
[1.911e+03 1.000e+00 1.000e+00 4.900e+00]
[1.912e+03 1.000e+00 1.000e+00 6.500e+00]
[1.913e+03 1.000e+00 1.000e+00 5.000e+00]
[1.914e+03 1.000e+00 1.000e+00 3.000e-01]
[1.915e+03 1.000e+00 1.000e+00 1.100e+00]
[1.916e+03 1.000e+00 1.000e+00 8.900e+00]
[1.917e+03 1.000e+00 1.000e+00 1.060e+01]
[1.918e+03 1.000e+00 1.000e+00 3.000e-01]
[1.919e+03 1.000e+00 1.000e+00 1.400e+00]
[ 1.92e+03  1.00e+00  1.00e+00 -6.00e-01]
[1.921e+03 1.000e+00 1.000e+00 8.700e+00]
[1.922e+03 1.000e+00 1.000e+00 7.000e+00]
[1.923e+03 1.000e+00 1.000e+00 1.400e+00]
[1.924e+03 1.000e+00 1.000e+00 7.500e+00]
[1.925e+03 1.000e+00 1.000e+00 5.600e+00]
[1.926e+03 1.000e+00 1.000e+00 3.000e-01]
[1.927e+03 1.000e+00 1.000e+00 6.100e+00]
[ 1.928e+03  1.000e+00  1.000e+00 -1.700e+00]
[1.929e+03 1.000e+00 1.000e+00 8.000e-01]
[1.93e+03 1.00e+00 1.00e+00 6.20e+00]
[1.931e+03 1.000e+00 1.000e+00 3.000e-01]
[1.932e+03 1.000e+00 1.000e+00 3.100e+00]
[1.933e+03 1.000e+00 1.000e+00 5.600e+00]
[1.934e+03 1.000e+00 1.000e+00 2.200e+00]
[1.935e+03 1.000e+00 1.000e+00 7.500e+00]
[1.936e+03 1.000e+00 1.000e+00 4.500e+00]
[1.937e+03 1.000e+00 1.000e+00 6.400e+00]
[1.938e+03 1.000e+00 1.000e+00 3.600e+00]
[1.939e+03 1.000e+00 1.000e+00 3.000e-01]
[ 1.94e+03  1.00e+00  1.00e+00 -2.20e+00]
[ 1.941e+03  1.000e+00  1.000e+00 -1.400e+00]
[1.942e+03 1.000e+00 1.000e+00 4.200e+00]
[1.943e+03 1.000e+00 1.000e+00 2.800e+00]
[1.944e+03 1.000e+00 1.000e+00 8.700e+00]
[1.945e+03 1.000e+00 1.000e+00 1.700e+00]
[1.946e+03 1.000e+00 1.000e+00 6.000e-01]
[1.947e+03 1.000e+00 1.000e+00 2.500e+00]
[1.948e+03 1.000e+00 1.000e+00 7.000e+00]
[1.949e+03 1.000e+00 1.000e+00 2.500e+00]
[1.95e+03 1.00e+00 1.00e+00 5.30e+00]
[1.951e+03 1.000e+00 1.000e+00 0.000e+00]
[1.952e+03 1.000e+00 1.000e+00 1.400e+00]
[1.953e+03 1.000e+00 1.000e+00 2.500e+00]
[1.954e+03 1.000e+00 1.000e+00 3.300e+00]
[1.955e+03 1.000e+00 1.000e+00 3.400e+00]
[1.956e+03 1.000e+00 1.000e+00 7.200e+00]
[1.957e+03 1.000e+00 1.000e+00 4.500e+00]
[1.958e+03 1.000e+00 1.000e+00 1.400e+00]
[1.959e+03 1.000e+00 1.000e+00 4.800e+00]
[1.96e+03 1.00e+00 1.00e+00 7.00e+00]
[1.961e+03 1.000e+00 1.000e+00 3.900e+00]
[ 1.962e+03  1.000e+00  1.000e+00 -3.600e+00]
[1.963e+03 1.000e+00 1.000e+00 0.000e+00]
[1.964e+03 1.000e+00 1.000e+00 5.600e+00]
[1.965e+03 1.000e+00 1.000e+00 3.900e+00]
[1.966e+03 1.000e+00 1.000e+00 4.500e+00]
[1.967e+03 1.000e+00 1.000e+00 2.800e+00]
[ 1.968e+03  1.000e+00  1.000e+00 -1.400e+00]
[1.969e+03 1.000e+00 1.000e+00 2.800e+00]
[1.97e+03 1.00e+00 1.00e+00 1.40e+00]
[1.971e+03 1.000e+00 1.000e+00 3.000e-01]
[1.972e+03 1.000e+00 1.000e+00 4.800e+00]
[1.973e+03 1.000e+00 1.000e+00 5.800e+00]
[ 1.974e+03  1.000e+00  1.000e+00 -1.800e+00]
[1.975e+03 1.000e+00 1.000e+00 9.400e+00]
[1.976e+03 1.000e+00 1.000e+00 2.000e+00]
[1.977e+03 1.000e+00 1.000e+00 1.700e+00]
[1.978e+03 1.000e+00 1.000e+00 5.100e+00]
[ 1.979e+03  1.000e+00  1.000e+00 -3.900e+00]
[ 1.98e+03  1.00e+00  1.00e+00 -1.20e+00]
[1.981e+03 1.000e+00 1.000e+00 5.400e+00]
[ 1.982e+03  1.000e+00  1.000e+00 -4.000e-01]
[1.983e+03 1.000e+00 1.000e+00 6.300e+00]
[1.984e+03 1.000e+00 1.000e+00 6.300e+00]
[1.985e+03 1.000e+00 1.000e+00 3.100e+00]
[1.986e+03 1.000e+00 1.000e+00 2.600e+00]
[1.987e+03 1.000e+00 1.000e+00 3.500e+00]
[1.988e+03 1.000e+00 1.000e+00 8.800e+00]
[1.989e+03 1.000e+00 1.000e+00 5.600e+00]
[1.99e+03 1.00e+00 1.00e+00 2.00e+00]
[1.991e+03 1.000e+00 1.000e+00 6.100e+00]
[1.992e+03 1.000e+00 1.000e+00 8.800e+00]
[1.993e+03 1.000e+00 1.000e+00 2.000e+00]
[1.994e+03 1.000e+00 1.000e+00 1.900e+00]
[ 1.995e+03  1.000e+00  1.000e+00 -7.000e-01]
[1.996e+03 1.000e+00 1.000e+00 1.700e+00]
[1.997e+03 1.000e+00 1.000e+00 3.000e-01]
[1.998e+03 1.000e+00 1.000e+00 3.700e+00]
[1.999e+03 1.000e+00 1.000e+00 6.900e+00]
[2.0e+03 1.0e+00 1.0e+00 5.2e+00]
[2.001e+03 1.000e+00 1.000e+00 3.800e+00]
[ 2.002e+03  1.000e+00  1.000e+00 -2.000e-01]
[2.003e+03 1.000e+00 1.000e+00 2.000e+00]
[ 2.004e+03  1.000e+00  1.000e+00 -2.300e+00]
[2.005e+03 1.000e+00 1.000e+00 6.100e+00]
[2.006e+03 1.000e+00 1.000e+00 4.100e+00]
[2.007e+03 1.000e+00 1.000e+00 7.300e+00]
[2.008e+03 1.000e+00 1.000e+00 6.100e+00]
[2.009e+03 1.000e+00 1.000e+00 5.000e-01]
[ 2.01e+03  1.00e+00  1.00e+00 -4.00e-01]
[2.011e+03 1.000e+00 1.000e+00 3.700e+00]
[2.012e+03 1.000e+00 1.000e+00 6.500e+00]
[2.013e+03 1.000e+00 1.000e+00 4.400e+00]
[2.014e+03 1.000e+00 1.000e+00 5.800e+00]
[2.015e+03 1.000e+00 1.000e+00 1.110e+01]
[2.016e+03 1.000e+00 1.000e+00 2.800e+00]
[2.017e+03 1.000e+00 1.000e+00 4.500e+00]
[2.018e+03 1.000e+00 1.000e+00 5.200e+00]
[2.019e+03 1.000e+00 1.000e+00 7.000e+00]